{% extends 'base.html'%}
<html>

<body>

    {{block.super}}
    {% block content %}

    <!-- <h1 class='text-center'>date {{date|date:"l d-F Y"}}</h1> -->

    <div class="container" style="padding-top:150px">

        <!-- Looping through posts   -->


        <div class="row">
            <div class="col-md-6">
                {% for image_item in images %}
                <div class="thumbnail">
                    <img src="{{image_item.profile.profile_image.url}}" alt="" style="border-radius:50%; height:60px; width:60px; float:left;">
                    <p>Posted {{ image_item.posted_time|timesince }} ago.</p>
                    <img src="{{image_item.image.url}}" alt="Image" height=400px style=" box-shadow: 1px 1px 1px 1px grey; padding:10px; transition: all 0.3s ease 0s; cursor:
pointer; opacity: 0.8;">
                    <div class="caption">
                        <img src="" alt="" height=60px width=100px>
                    </div>
                    <div>
                        {% for comment in image_item.comments.all%}
                        {{comment.text}}
                        {% endfor %}
                        <a href="{% url 'comment' image_item.id %}">
                            <p>Add a comment.....</p>
                        </a>
                    </div>

                </div>
                {% endfor %}
            </div>
            <div class="col-md-6"><a href="post/"><button type="button" class="btn btn-default">Post</button></a></div>

            {% endblock %}

</body>

</html>