<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
<a class="navbar-brand" href=""><img src="https://banner2.kisspng.com/20171216/e83/instagram-png-logo-5a3554a2d54769.2715507815134445148736.jpg" width = 80px
height = 30px alt=""></a>
<a href="" class="navbar-brand">Home</a>
            </div>
        </div>
    </nav>
</body>

</html>